body{
    font-family: sans-serif;
    background-image: url('https://www.teahub.io/photos/full/88-883775_vertical-colors-wallpapers-vertical-colors.jpg');
     
}
h1{
    text-align: center;
    color: blue;
    margin: 40px 0 60px;
    background-color: pink;
    border: 2px solid black;
    outline:dotted green;
    margin: auto;  
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 3;

}
.gallery1{
    display: flex;
    justify-content: center;
    align-items: center;

}
.gallery1 img{
    width: 380px;
    height: 250px;
    padding: 5px;
    transition: 1s;
}
.gallery1 img:hover{
    transform: scale(1.1);
}
.gallery2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery2 img{
    width: 230px;
    padding: 5px;
    transition: 1s;
}
.gallery2 img:hover{
    transform: scaleX(-1);
}